<a href="https://colab.research.google.com/github/Humirephp/Clase_Python/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
array_lista = pd.array([1,2,3,4,5])
array_lista2 = pd.array([1,2,3,4,5])
array_suma = array_lista + array_lista2
print(array_suma)

<IntegerArray>
[2, 4, 6, 8, 10]
Length: 5, dtype: Int64

In [ ]:
import pandas as pd
#crear mi dataframe
data={'Producto':['Manzana','Durazno','Tomate','Pera'],
      'Precio':[5.0,18.5,1.3,6.5]
      }
df=pd.DataFrame(data)
print(df)
suma_precio=df['Precio'].sum()
print("La suma de los precios es :" ,suma_precio)

  Producto  Precio
0  Manzana     5.0
1  Durazno    18.5
2   Tomate     1.3
3     Pera     6.5
La suma de los precios es : 31.3

In [ ]:
import pandas as pd
churrumino={'Nombre':['German','Lucas','Kevin','Elias'],
            'Edad':[37,28,20,5],
            'Ciudad':['Trujillo','Puno','Tacna','Moquegua']
            }
df=pd.DataFrame(churrumino)
print(churrumino)
print(df)
#La data frame debe de tener los misma cantidad no debe haber espacios vacios

{'Nombre': ['German', 'Lucas', 'Kevin', 'Elias'], 'Edad': [37, 28, 20, 5], 'Ciudad': ['Trujillo', 'Puno', 'Tacna', 'Moquegua']}
   Nombre  Edad    Ciudad
0  German    37  Trujillo
1   Lucas    28      Puno
2   Kevin    20     Tacna
3   Elias     5  Moquegua

EJERCICIO 3

In [ ]:
import pandas as pd
import numpy as np

#Crear una dataframe con datos aleatorios
np.random.seed(42)
df=pd.DataFrame({
    'Producto':['Proucto 1','Producto 2','Producto 3','Producto 4','Producto 5'],
    'Precio':np.random.uniform(10,100,size=5), #Te muestra numeros aleatorios en decimales
    'Cantidad':np.random.randint(1,50,size=5)#Te muestra numeros aleatarios enteros
})
print(df)

     Producto     Precio  Cantidad
0   Proucto 1  43.708611        19
1  Producto 2  95.564288        23
2  Producto 3  75.879455        11
3  Producto 4  63.879264        11
4  Producto 5  24.041678        24

EJERCICIO 4

In [ ]:
#CREAR UNA DATA FRAME CON NOMBRE, EDAD, CIUDAD, QUE SEAN SOLO 5 ELEMENTOS
#FILTRAR PERSONAS MAYORES DE 30 AÃ‘OS QUE VIVEN EN MOQUEGUA

import pandas as pd
import numpy as np
#Crear dataframe
#np.random.seed(42)
df=pd.DataFrame({
    'Nombre':['Jose','Ana','German','Llon','Martha'],
    'Edad':np.random.randint(18,50,size=5),
    'Ciudad':['Moquegua','Tacna','Lima','Moquegua','Arequipa']
})
#Crear el filtro >30 y Ciudad='Moquegua'
filtro=(df['Ciudad']=='Moquegua')& (df['Edad']>30)
resultado=df[filtro]
print("Papu este es:")
print(resultado)

Papu este es:
  Nombre  Edad    Ciudad
0   Jose    39  Moquegua
3   Llon    41  Moquegua