<a href="https://colab.research.google.com/github/Humirephp/Clase_Python/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#Recordar un poco de matrices y vectores
import numpy as np
#Crear un vector
v1 = np.array([10,20,30,40,50])
#print(v1)
#Crear una matriz
m1 = np.array([[15,20,25],[30,35,40]])
#print(m1)
#Operacion Basica
# Al vector sumarle mas 3
sum_vec = v1 + 3
#print(sum_vec)
#Producto de matriz por vector
prod_vec_mat = np.dot(m1,v1[:3])
print(prod_vec_mat)
prod_vec_mat = np.dot(m1,v1[2:5])
print(prod_vec_mat)

[1300 2200]
[2500 4300]

Crear un vector con 10 elementos con valores que inicia en 15 y rellena de forma consecutiva hasta tener 10 elementos, crear una matriz 3x3 es decir 9 elementos desde el uno hasta el 9 luego realiza la multiplicacion de los ultimos elementos y otra multiplicacion de la posicion 4 del vecto al 6 por toda la matriz

In [15]:
import numpy as np
v1 = np.array([15,20,30,40,50,60,70,25,37,90])
#print(v1)
m1 = np.array([[14,20,30],[24,45,30],[10,47,80]])
#rint(m1)
producto_vec_mat = np.dot(m1,v1[7:10])
print(producto_vec_mat)
producto_vec_mat = np.dot(m1,v1[3:6])
print(producto_vec_mat)

[3790 4965 9189]
[3360 5010 7550]

In [4]:
#Librerias de pandas y numpy
#PANDAS: LIBRERIA PARA MANIPULAR Y ANALIZAR DATOS (DE FORMA FLEXIBLE )
#NUMPY : LIBRERIA DESARROLLADA PARA CALCULOS CIENTIFICOS ALGEBRAICOS
import pandas as pd
import numpy as np
#Crear DataFrame
data ={'C1':[30,20,10],'C2':[15.6,34.8,69.2]}
df = pd.DataFrame(data) #Ya tengo mi DataFrame
#print(df)
#Operacion algebraica con logaritmos
df['Columna3']=np.log(df['C1'])
print(df)

   C1    C2  Columna3
0  30  15.6  3.401197
1  20  34.8  2.995732
2  10  69.2  2.302585

Ejercicio 02 : crea una DataFrame con 5 filas y 3 columnas con elementos random añadir una columna que calcule la suma de las 2 primeras columnas

In [18]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.random.randint(0,20, size=(5,3)), columns=['col1','col2','col3'])
print(df1)
df1['Resultado']=df1['col1']+df1['col2']
print(df1)

   col1  col2  col3
0    11    17    14
1    18    11    15
2     1     9     5
3     0    11     9
4    17    13     1
   col1  col2  col3  Resultado
0    11    17    14         28
1    18    11    15         29
2     1     9     5         10
3     0    11     9         11
4    17    13     1         30

manipular y analizar los datos

In [19]:
import pandas as pd
data={'Nombre':['Luis','Jose','Anastacio'],'Edad':[60,45,20]}
df=pd.DataFrame(data)
df_f = df[df['Edad']>30]
print(df_f)

  Nombre  Edad
0   Luis    60
1   Jose    45

Ejercicio 3 crear una dataframe con informacion de estudiantes de senati , donde tendras nombre edad , carrera , nota final , deberas crear minimo 8 registros y maximo 20 filtrar la mayor nota ojo si existen varias notas altas se deben mostrar todas

In [11]:
import pandas as pd
data ={'Nombre':['Juan','Elias','Marcos','Mateo','Mathias','Dicarpio','Luis','Leo'],
      'Edad':[20,11,18,20,20,14,16,20],
      'Carrera':['Ing,soft','Diseño grafico','Electricista','ciberseguridad','soporte Ti','Textil','administracion','Mecanico'],
      'NotaFinal':[20,20,20,12,16,18,19,20]
}
df=pd.DataFrame(data)
df_f = df[df['NotaFinal']>=20]
print(df_f)

   Nombre  Edad         Carrera  NotaFinal
0    Juan    20        Ing,soft         20
1   Elias    11  Diseño grafico         20
2  Marcos    18    Electricista         20
7     Leo    20        Mecanico         20

In [1]:
import pandas as pd
import numpy as np
data ={'Nombre':['Juan','Elias','Marcos','Mateo','Mathias','Dicarpio','Luis','Leo'],
      'Edad':[20,11,18,20,20,14,16,20],
      'Carrera':['Ing.soft','Diseño grafico','Electricista','ciberseguridad','soporte Ti','Textil','administracion','Mecanico'],
}
df=pd.DataFrame(data)
#Guardar como archivo .csv
df.to_csv('estudiante_senati.csv',index=False)
#LEER ARCHIVO CSV CON PANDAS
df_leido = pd.read_csv('estudiante_senati.csv')
print(df_leido)
#LEER ARCHIVO CON NUMPY
df_leido2 = np.genfromtxt('estudiante_senati.csv',delimiter=',',dtype=None,encoding='utf-8',names=True)
print(df_leido2)

     Nombre  Edad         Carrera
0      Juan    20        Ing.soft
1     Elias    11  Diseño grafico
2    Marcos    18    Electricista
3     Mateo    20  ciberseguridad
4   Mathias    20      soporte Ti
5  Dicarpio    14          Textil
6      Luis    16  administracion
7       Leo    20        Mecanico
[('Juan', 20, 'Ing.soft') ('Elias', 11, 'Diseño grafico')
 ('Marcos', 18, 'Electricista') ('Mateo', 20, 'ciberseguridad')
 ('Mathias', 20, 'soporte Ti') ('Dicarpio', 14, 'Textil')
 ('Luis', 16, 'administracion') ('Leo', 20, 'Mecanico')]

Ejercicio 4 : Crear un archivo csv con los siguientes datos producto ,cantidad , precio _unitario, precio_docena, velor_venta, luego mostrarlo con pandas y numpy

In [22]:
import pandas as pd
import numpy as np
data = {'Producto':['Arroz','Azucar','Leche','Cereales'],
      'Cantidad':[2,4,5,10],
      'Preio_unitario':[2.50,3.00,5.00,5.60],
      'Preio_docena':[6.50,1.00,9.00,10.60],
      'valor_venta':[2.30,3.80,5.60,5.40],
}
df=pd.DataFrame(data)
df.to_csv('Productos.csv',index=False)
df_leido = pd.read_csv('Productos.csv')
print(df_leido)
df_leido2 = np.genfromtxt('Productos.csv',delimiter=',',dtype=None,encoding='utf-8',names=True)
print(df_leido2)

   Producto  Cantidad  Preio_unitario  Preio_docena  valor_venta
0     Arroz         2             2.5           6.5          2.3
1    Azucar         4             3.0           1.0          3.8
2     Leche         5             5.0           9.0          5.6
3  Cereales        10             5.6          10.6          5.4
[('Arroz',  2, 2.5,  6.5, 2.3) ('Azucar',  4, 3. ,  1. , 3.8)
 ('Leche',  5, 5. ,  9. , 5.6) ('Cereales', 10, 5.6, 10.6, 5.4)]

In [4]:
#MACHINE LEARNING
from sklearn.datasets import load_iris
#Dividir datos para entrenamiento y pruebas
from sklearn.model_selection import train_test_split
#regrecion logica para la clasificacion de las flores
from sklearn.linear_model import LogisticRegression
#Calcular la precision del modelo a traves de la prediccion
# y los valores reales
from sklearn.metrics import accuracy_score

#Cargar Datos
data = load_iris() # Carga de datos de load_iris
print(data)
X = data.data #Caracteristicas
y = data.target #Etiquetas

#Division de los conjuntos de datos
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

#crear y entrenar el modelo
model = LogisticRegression(max_iter=200)
model.fit(X_train,y_train)

#Realizar predicciones
y_pred = model.predict(X_test)

#Evaluar el modelo
accuracy = accuracy_score(y_test,y_pred)

#visualizar los resultados
print("Accuaracy:",accuracy)

{'data': array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]]), 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]), 'frame': None, 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'), 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n|details-start|\n**References**\n|details-split|\n\n- Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n  Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n  Mathematical Statistics" (John Wiley, NY, 1950).\n- Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n  (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n- Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n  Structure and Classification Rule for Recognition in Partially Exposed\n  Environments".  IEEE Transactions on Pattern Analysis and Machine\n  Intelligence, Vol. PAMI-2, No. 1, 67-71.\n- Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n  on Information Theory, May 1972, 431-433.\n- See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n  conceptual clustering system finds 3 classes in the data.\n- Many, many more ...\n\n|details-end|', 'feature_names': ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)'], 'filename': 'iris.csv', 'data_module': 'sklearn.datasets.data'}
Accuaracy: 1.0